@font-face {
    font-family: 'SoDoSans';
    src: url('./SoDo-Sans-SemiBold.ttf')
}
@font-face {
    font-family: 'GTWalsheimPro-Light';
    src: url('./GTWalsheimPro-Light.ttf')
}




body {
    margin: 0;
}

.wrapper {
    display: flex;
    flex-direction: row;
    overflow-y:hidden;
}


.form-container {
    min-width: 370px;
    box-shadow: 0 0 10px rgb(0 0 0 / 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    padding-top: 60px;
    font-family: SoDoSans,Helvetica Neue,Helvetica,Arial,sans-serif;
    background-color: #fffbf3;
    z-index: 1;
}

.form {
    display: flex;
    margin-top: 25px;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    padding: 50px 20px;
    min-width: 80%;
    font-size: 24px;
    box-shadow: 0 0 5px rgb(0 0 0 / 0.2);
    border-radius: 10px;
    background-color: white;
}
.form-input{
    display: flex;
    flex-direction: column;
}
.form input {
    width: 240px;
    padding-top: 5px;
    padding-bottom: 3px;
    border-bottom: 2px dotted black;
    border-top: none;
    border-left: none;
    border-right: none;
    font-size: 16px;
    font-family: SoDoSans,Helvetica Neue,Helvetica,Arial,sans-serif;
    padding-left: 5px;
}

input::placeholder {
    font-size: 15px;
    font-style: italic;
  }


textarea:focus, input:focus{
    outline: none;
}

.form label {
    padding-left: 5px;
    margin-bottom: 5px;
}

.two label {
    text-align: center;
    padding-left: unset;
}

.logo  {
    display: flex;
    gap: 20px;
    padding-bottom: 20px;
}

.logo img {
    width: 75px;
    height: 75px;
}

.logo h1 {
    font-size: 2.2em;
}

.read {
    font-family: SoDoSans,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 18px;
    width: 150px;
    border-radius: 10px;
    padding: 5px 5px;
}

.submit {
    border-radius: 10px !important;
    width: 100px !important;
    padding: 10px 0px!important;
    font-size: 18px;
    border: none;
    font-family: SoDoSans,Helvetica Neue,Helvetica,Arial,sans-serif !important;
    height: unset !important;
    border: none!important;
    color: white !important;
    background-color: black;
    margin-top: 30px;
}
.submit:hover {
    cursor: pointer !important;
    background-color: darkslategrey !important;
}

.table-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-top: 100px;
    box-sizing: border-box;
    padding-left: 20px;
    gap: 20px;
    box-shadow: 0 0 2px rgb(0 0 0 / 0.1);
}

.table-container th {
    font-size: 1.5em;
    font-family: 'GTWalsheimPro-Light';
    border: 1px solid black;
    width: 230px;
    height: 70px;
    background-color: white;
    color: black;
}

 
.table-container td {
    font-size: 1.1em;
    font-family: 'GTWalsheimPro-Light';
    font-weight: 550;
    padding: 15px 10px;
    text-align: center;
}
.tables {
    padding-right: 15px;
}
table {
    border-collapse: collapse;
    background-color: #f9f9f9;
    border-radius: 5px;
    word-break: break-word;
  }
  table td, table th {
    border: 1px solid black;
    border-left: 0;
    border-right: 0;
  }
  table tr:first-child th {
    border-top: 0;
    border-right: 0;
    border-left: 0;
  }
  table tr:last-child td {
    border-bottom: 0;
  }
  table tr td:first-child,
  table tr th:first-child {
    border-left: 0;
  }
  table tr td:last-child,
  table tr th:last-child {
    border-right: 0;
  }

table button {
    padding: 8px 10px;
    font-size: 15px;
    border-radius: 8px;
    border: none;
    background-color: #131313;
    color: white;
    font-family: SoDoSans,Helvetica Neue,Helvetica,Arial,sans-serif !important;
    
}

table button:hover {
    cursor: pointer !important;
    background-color: rgb(121, 165, 165) !important;
    transform: scale(1.1);
}

.book-info {
    display: flex;
    gap: 100px;
    justify-content: flex-start;
}
.book-info p {
    font-size: 1.6em;
    font-family: 'GTWalsheimPro-Light';
}

.delete {
    padding: unset;
    border: none;
    background-color: unset;
}
.delete-img:hover {
    cursor: pointer !important;
    background-color: unset !important;
    transform: scale(1.2);
}
.delete-img {
    width: 25px;
    height: auto;
}

.footer-container {
    height: 65px;
    position: fixed;
    bottom: 0px;
    width: 120%;
    background-color: white;
    box-shadow: 0 0 5px rgb(0 0 0 / 10%);
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
}

footer p {
    font-size: 15px;
    font-family: 'GTWalsheimPro-Light';
}

.socicon {
    width: 1.7rem;
    height: 1.7rem;
    padding-right: 5px;
    padding-left: 5px;
  }

  .socials {
    position: fixed;
    right: 2%;
  }

  th:nth-child(3),
  th:nth-child(4),
  th:nth-child(5) {
      width: 120px !important;
  }













/*_____________________

    MEDIA SCREEN BELOW

  ______________________*/



  
  @media screen and (min-width:768px) and (max-width: 1148px) {
    
    /* Form container */
    
    .form-container {
        min-width: 280px;
    }
    .form{
        font-size: 20px;
    }
    .form input {
        width: 180px;
        font-size: 14px;
    }
    
    input::placeholder {
        font-size: 13px;
      }
    .logo img {
        width: 65px;
        height: 65px;
    }
    
    .logo h1 {
        font-size: 2em;
    }
    .read,
    .submit {
        font-size: 14px;
    }
    .read {
        width: 120px;
    }
    .submit {
        width: 70px;
    }


    /* Table container  */

    .table-container th {
        font-size: 1.1em;
        width: 155px;
        height: 60px;
    }
    
     
    .table-container td {
        font-size: 1em;
        padding: 8px 8px;
    }
    table button {
        padding: 5px 7px;
        font-size: 14px;
    }
    .book-info {
        gap: 50px;
    }
    .book-info p {
        font-size: 1.1em;
    }
    .delete-img {
        width: 20px;
        height: auto;
    }
    footer p {
       visibility: hidden;
    }
    th:nth-child(3),
    th:nth-child(4),
    th:nth-child(5) {
        width: 80px !important;
    }
  
    
    
  }

  






  @media screen and (max-width:768px) {
    .wrapper {
        display: flex;
        flex-direction: column;
        overflow-y:hidden;
    }
    
    .form-container {
        min-width: 100%;
        padding-bottom: 10px;
    }
    .read {
       background-color: white !important;
    }


    .table-container {
        min-height: 850px;
        padding: 50px 5px;
    }
    .tables {
        padding-right: unset;
    }

    .table-container th {
        font-size: 1.1em;
        height: 50px;
    }
    .table-container td {
        font-size: 1em;
        font-weight: 580;
        padding: 10px 5px;
        text-align: center;
    }
    table button {
        font-size: 13px;
        padding: 7px 6px;
     }
    .delete-img {
        width: 22px;
    }

    .book-info {
        gap: 35px;
        padding-bottom: 30px;
    }
    .book-info p {
        font-size: 1.2em;
    }
   
    .footer-container {
        display: none;
    }


  }









  @media screen and (min-width: 1440px) {
    .form input {
        width: 260px;
    }
    input::placeholder {
        font-size: 17px;
        font-style: italic;
      }

      .footer-container {
        height: 75px;
    }
    .footer-container p {
        font-size: 18px;
    }
    .socicon {
        width: 2em;
        height: auto;
    }
  }